body {
  /* background-color: powderblue; */
  padding: 1%;
  overflow: hidden;
}

svg {
  position: absolute;
  top: 5px;
}

.search-box {
  margin-left: 1%;
}

path {
  stroke-width: 2;
  fill: none;
}

h1 {
  color: blue;
}

p {
  color: red;
}

.subunit {
  fill: none;
  stroke-width: 3px;
}